@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

.TodoList {
    background-color: grey;
    padding: 20px;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    list-style-type: none;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.listItem {
    height: 200px;
    width: 200px;
    background-color: #10ac84;
    margin: 10px;
    text-align: center;
    padding: 30px 10px 10px 10px;
    font-family: 'Gochi Hand', cursive;
    font-size: 26px;
}

.listItem:hover {
    cursor: pointer;
    background-color: #ff6b6b;
}