@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

input {
    font-size: 20px;
    width: 500px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.headline {
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}