@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

.TodoList {
    background-color: #c8d6e5;
    padding: 20px;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 80vw;
    align-items: center;
    justify-content: center;
}
